@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@import './variables';

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Inter', Arial, sans-serif;
  margin: 0;
  overflow: hidden;
}

%full-screen {
  width: 100%;
  height: 100%;
  display: flex;
}

%shadow {
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
}

%button {
  border: none;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
  background: transparent;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.4;
  }
}


.sign-view {
  @extend %full-screen;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.chats-view {
  @extend %full-screen;
}

.form {
  width: 100%;
}

.sign-form {
  @extend %shadow;
  width: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 12px;
}

.sign-form__heading {
  font-size: 20px;
  font-weight: 500;
  color: $main-text-color;
}

.sign-in-form__heading {
  margin-bottom: 20px;
}

.sign-up-form__heading {
  margin-bottom: 15px;
}

.form-field {
  display: block;
  margin-bottom: 12px;
  width: 100%;
}

.form-field__label {
  font-size: 9px;
  color: $additional-text-color;
  transform: translateY(-14px);
  display: block;
  font-weight: normal;
  left: 0;
  margin: 0;
  padding: 15px 2px 0;
  position: absolute;
  top: 0;
  transition: all 0.3s;
  width: 100%;
  cursor: text;
  pointer-events: none;
}

.form-field__control {
  background: white;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.form-field__bar {
  border-bottom: 1px solid $accent-color;
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  transform: scaleX(0);
  transition: all 0.3s;
  width: 1%;
}

.form-field__input {
  appearance: none;
  background: transparent;
  border: 0;
  border-bottom: 1px solid $accent-color;
  color: $main-text-color;
  display: block;
  font-size: 13px;
  margin-top: 15px;
  outline: 0;
  padding: 0 2px 5px 2px;
  width: 100%;
}

.form-field__input:placeholder-shown ~ .form-field__label {
  font-size: 13px;
  transform: translateY(0);
}

.form-field__input:focus ~ .form-field__label {
  font-size: 9px;
  transform: translateY(-14px);
}

.sign-in-form-fields-wrapper {
  margin-bottom: 130px;
  width: 100%;
  position: relative;
}

.signin-error, .signup-error {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: -35px;

  .input-error-message {
    font-size: 13px;
  }
}

.sign-up-form-fields-wrapper {
  margin-bottom: 60px;
  width: 100%;
  position: relative;
}

.button {
  @extend %button;

  &_main {
    background: $accent-color;
    width: 100%;
    padding: 11px 0;
    font-size: 13px;
    color: white;
    margin-bottom: 15px;
  }

  &_additional {
    background: transparent;
    font-size: 11px;
    color: $accent-color;
  }

  &.profile-button {
    font-size: 12px;
    color: $additional-text-color;
    float: right;
    margin-bottom: 15px;
  }

  &.button-with-image-and-text {
    background: white;
    display: flex;
    align-items: center;
    padding: 8px 15px;
    font-size: 12px;
    color: $main-text-color;
    width: 100%;
    white-space: nowrap;

    &:not(:disabled):hover {
      background: #E4EDFD;
    }
  }

  &.logout-button {
    color: #FF0000;
  }

  .image-inside-button {
    margin-right: 15px;
  }

  .button-link {
    font-size: inherit;
    text-decoration: inherit;
    color: inherit;
  }

  .button-inner-container {
    display: flex;
    align-items: center;
  }

  .button-arrow-right-image {
    width: 7px;
    height: 11px;
    margin-left: 5px;
  }
}


.chats {
  width: 310px;
  min-width: 310px;
  height: 100%;
  background: $light-grey;
  border-right: 1px solid $border-color;
  box-sizing: border-box;
}

.chats_header {
  margin-bottom: 15px;
  padding: 20px 10px 0 10px;
}

.search__input {
  width: 100%;
  height: 32px;
  border: none;
  background: $background-grey;
  border-radius: 5px;
  background-image: url("../images/search-icon.svg");
  background-repeat: no-repeat;
  background-position: 40% center;
}

input.search__input {
  font-size: 12px;
  font-weight: 500;
  text-align: center;

  &:focus {
    background-image: none;
  }
}

.chats-container {
  width: 100%;
  height: auto;
  max-height: calc(100% - 100px);
  overflow-y: auto;
}

.chats-container__list {
  padding: 0;
  margin: 0;
}

.chat-list-item {
  display: flex;
  align-items: center;
  padding: 12px 10px 17px;
  border-top: 1px solid $border-color;
  cursor: pointer;

  &.selected {
    background: aliceblue;
  }

  &:last-child {
    border-bottom: 1px solid $border-color;
  }

  &:hover {
    background: aliceblue;
  }

  .avatar {
    background-size: 50%;
    background-image: url("../images/message-icon.svg");
  }
}

.avatar {
  width: 47px;
  height: 47px;
  min-width: 47px;
  background: $background-grey;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  margin-right: 10px;
}

.chat-avatar {
  background-size: 50%;
  background-image: url("../images/message-icon.svg");
}

.user-avatar {
  background-size: 50%;
  background-image: url("../images/user-icon.svg");
}

.chat-list-item__info {
  width: 80%;
}

.chat-list-item__name-container {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 2px;
  margin-bottom: 5px;
}

.chat-list-item__name {
  margin: 0;
  font-weight: 600;
  font-size: 13px;
  color: $main-text-color;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  .self-user-tag {
    font-size: 11px;
    color: $additional-text-color;
  }
}

.chat-list-item__last-message-time {
  margin: 0;
  font-weight: 500;
  font-size: 9px;
  text-align: right;
  color: $additional-text-color;
  min-width: 55px;
}

.chat-list-item__last-message-container {
  display: flex;
  position: relative;
  justify-content: space-between;
}

.chat-list-item__last-message-text {
  margin: 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: $additional-text-color;
  max-width: 195px;
  max-height: 30px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis
}

.last-message-from-user-label {
  color: $main-text-color;
}

.chat-list-item__unread-message-count {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: $accent-color;
  text-align: center;
  font-weight: 400;
  font-size: 11px;
  color: #FFFFFF;
  position: absolute;
  right: 0;
}

.chat-list-item__unread-message-count-number {
  position: relative;
  top: 6px;
}

.chat-feed-empty {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 13px;
  color: $additional-text-color;
}

.chat-block {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chat-block__info-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid $border-color;
}

.chat-block__create-message-row {
  display: flex;
  padding: 10px 20px;
  border-top: 1px solid $border-color;
}

.chat-block__messages {
  height: 100%;
  padding: 0px 25px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column-reverse;
}

.message {
  width: fit-content;
  max-width: 45%;
  padding: 11px 11px 6px;

  &__content {
    margin: 3px 0;
    font-size: 12px;
    white-space: pre-line;
  }

  &__image-content {
    width: 100%;
  }

  &__timestamp {
    font-size: 10px;
    color: $additional-text-color;
    text-align: right;
    margin-top: 5px;
    margin-bottom: 0;
  }

  &__incoming {
    margin: 6px auto 6px 0;
    background-color: #F8F8F8;
    border-radius: 0 12px 12px 12px;
  }

  &__outgoing {
    margin: 6px 0 6px auto;
    background-color: #E4EDFD;
    border-radius: 12px 12px 0 12px;
  }
}

.avatar-with-name {
  display: flex;
  align-items: center;
}

.base-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.dropdown-content {
  @extend %shadow;
  background: white;
  padding: 7px 0;
  min-width: 150px;
  border-radius: 12px;
  display: none;
  position: absolute;
  z-index: 10;

  &_bottom {
    right: 0px;
    top: 25px;
  }

  &_top {
    bottom: 35px;
  }

  &_wide {
    width: 320px;
  }
}

.dropdown {
  position: relative;
  display: flex;

  &.disabled {
    cursor: not-allowed;
  }
}

.dropdown:not(.disabled):hover .dropdown-content {
  display: block;
}

.message-form {
  display: flex;
  width: 100%;
  margin-bottom: 0;
}

.message-textarea {
  font-family: inherit;
  margin: 0 10px;
  width: 100%;
  height: 35px;
  background: $background-grey;
  border-radius: 30px;
  font-size: 14px;
  color: $main-text-color;
  box-sizing: border-box;
  padding-top: 9px;
  padding-left: 20px;
  border: none;
  resize: none;
  outline: none;
  appearance: none;
  -moz-appearance: none;

  &:placeholder {
    font-weight: 500;
    font-size: 12px;
    color: $additional-text-color;
  }

  &:disabled {
    cursor: not-allowed;
    &::placeholder {
      opacity: 0.4;
    }
  }
}


.modal-wrapper {
  @extend %full-screen;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
}

.modal-body {
  @extend %shadow;
  width: 340px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  opacity: 1;
  border-radius: 12px;
  padding: 20px 30px;

  .form-field {
    margin-bottom: 30px;
  }
}

.modal-body__name {
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: $main-text-color;
  margin-bottom: 50px;
}

.modal-body__error-msg {
  margin: 0;
  font-weight: 500;
  font-size: 11px;
  text-align: center;
  color: #FF2F2F;
  display: none;
}

.profile-view {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.go-back-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 64px;
  background: $light-grey;
  position: absolute;
  top: 0;
  left: 0;
}

.profile-data-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100%;
}

.profile-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 510px;
  max-width: 100%;
  padding: 10px 15px;
  box-sizing: border-box;
}

.change-avatar-button {
  visibility: hidden;
  width: 100%;
  height: 100%;
  border: none;
  background: rgba(0, 0, 0, 0.5);
  font-weight: 500;
  font-size: 13px;
  line-height: 14px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
}

.profile-data__avatar {
  width: 130px;
  height: 130px;
  left: 575px;
  background: $background-grey;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  background-image: url("../images/user-icon.svg");
  overflow: hidden;
  margin-bottom: 20px;
}

.profile-data__avatar:hover .change-avatar-button {
  visibility: visible;
}

.profile-data__name {
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: $main-text-color;
  margin: 0 0 20px;
}

.profile-data__form {
  margin: 60px 0;
  text-align: center;
}

.profile-data__form-item {
  display: flex;
  justify-content: space-between;
}

.profile-data-form-field {
  &__label {
    font-weight: 500;
    font-size: 13px;
    color: $main-text-color;
    white-space: nowrap;
    padding-right: 10px;
  }

  &__input {
    border: none;
    font-weight: 500;
    font-size: 13px;
    text-align: right;
    color: $additional-text-color;
    background: none;
    width: 100%;
  }

  &__input:disabled {
    color: $additional-text-color;
    -webkit-text-fill-color: $additional-text-color;
    opacity: 1;
  }

  &__input-wrapper {
    width: 100%;
    text-align: right;
  }
}

.profile-data__form-controls {
  width: 280px;
  margin: 60px auto 0 auto;
}

.form-controls-wrapper {
  text-align: center;
}

.profile-data__control-buttons {
  width: 100%;
}

.profile-data__additional-button {
  border: none;
  background: transparent;
  font-weight: 500;
  font-size: 13px;
  color: $accent-color;
  cursor: pointer;
}


.divider {
  width: 100%;
  height: 1px;
  background: $border-color;
  margin: 10px 0;
}

.file-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -10px;
  margin-bottom: 30px;
}

.upload-control {
  text-align: center;
}

.file-upload-input {
  opacity: 0;
  height: 0;
}

.file-upload-label {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  text-decoration-line: underline;
  color: $accent-color;
  cursor: pointer;
}

.file-upload__extra {
  color: $additional-text-color;
  font-size: 10px;
  display: block;
  margin-top: 4px;
}

.file-name {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #8D8D8D;
}

.generated-user-data-placeholder {
  width: 100%;
  text-align: center;
}

.flex-container {
  display: flex;
}

.error-view {
  @extend %full-screen;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error-code {
  font-weight: 500;
  font-size: 40px;
  line-height: 40px;
  color: $main-text-color;
  margin: 0 0 20px;
}

.error-description {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: $main-text-color;
  margin: 0 0 65px;
}

.input-error-message {
  color: red;
  font-size: 10px;
  margin-top: 5px;
}

.invaid-input {
  border-bottom-color: red;
}

.busy {
  cursor: wait;

  button, input, textarea {
    pointer-events: none;
  }
}

.search-form {
  display: none;
}

@media (max-width: 600px) {
  .mobile-hidden {
    display: none;
  }
  
  .chats {
    width: 100%;
  }

  .chats-container__list {
    margin-bottom: 40px;
  }

  .chat-feed-empty {
    display: none;
  }

  .chat-block__info-row {
    padding: 10px 5px 10px 10px;
  }

  .chat-block__messages {
    padding: 0 12px;
  }

  .chat-block__create-message-row {
    padding: 10px 2px;

    .button {
      padding: 1px 4px;
    }
  }

  .message {
    max-width: 70%;
  }

  .go-back-section {
    display: none;
  }

  .profile-data__form-item {
    flex-wrap: wrap;
  }

  .profile-data-form-field__input {
    margin-top: 5px;
  }
}
